@import url("reset.css");
@import url("all.css");
@-webkit-keyframes topTo {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}
@keyframes topTo {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

div.mnWrap {
  width: 100vw;
  background-color: #ccc;
  padding: 8vw 0;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

div.mnWrap main {
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;
}

div.mnWrap main .imgGroup {
  width: 400%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: calc(100% / -3);
  height: 40vw;
}

div.mnWrap main .imgGroup .image {
  width: calc(100% / 12 - 5px);
  height: 35vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

div.mnWrap main .imgGroup .image.i1 {
  cursor: pointer;
  background-image: url("../image/main_pic01.png");
  color: transparent;
}

div.mnWrap main .imgGroup .image.i2 {
  cursor: pointer;
  background-image: url("../image/main_pic02.png");
  color: transparent;
}

div.mnWrap main .imgGroup .image.i3 {
  cursor: pointer;
  background-image: url("../image/main_pic03.png");
  color: transparent;
}

div.mnWrap main .imgGroup .image.i4 {
  cursor: pointer;
  background-image: url("../image/main_pic04.png");
  color: transparent;
}

div.mnWrap main .imgGroup .image.i5 {
  cursor: pointer;
  background-image: url("../image/main_pic05.png");
  color: transparent;
}

div.mnWrap main .imgGroup .image.i6 {
  cursor: pointer;
  background-image: url("../image/main_pic06.png");
  color: transparent;
}

div.mnWrap main .imgGroup .image.i7 {
  cursor: pointer;
  background-image: url("../image/main_pic07.png");
  color: transparent;
}

div.mnWrap main .imgGroup .image.i8 {
  cursor: pointer;
  background-image: url("../image/main_pic08.png");
  color: transparent;
}

div.mnWrap main .imgGroup .image.i9 {
  cursor: pointer;
  background-image: url("../image/main_pic09.png");
  color: transparent;
}

div.mnWrap main .imgGroup .image.i10 {
  cursor: pointer;
  background-image: url("../image/main_pic010.png");
  color: transparent;
}

div.mnWrap main .imgGroup .image.i11 {
  cursor: pointer;
  background-image: url("../image/main_pic011.png");
  color: transparent;
}

div.mnWrap main .imgGroup .image.i12 {
  cursor: pointer;
  background-image: url("../image/main_pic012.png");
  color: transparent;
}

div.mnWrap main .imgGroup .image:nth-of-type(3) {
  height: 40vw;
}

div.mnWrap main .texts {
  text-align: center;
}

div.mnWrap main .texts h2 {
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}

div.mnWrap main .texts p {
  font-size: 12px;
  width: 80vw;
  margin: 0 auto;
  text-align: left;
}

div.mnWrap .btn {
  display: none;
}

div.cntWrap {
  margin-top: 8vw;
}

div.cntWrap .content {
  width: 90vw;
  margin: 0 auto;
}

div.cntWrap .content header h2 {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

div.cntWrap .content header h5 {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}

div.cntWrap .content section {
  margin-top: 8vw;
}

div.cntWrap .content section article {
  margin-top: 4vw;
}

div.cntWrap div.cnt01 article .image {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: transparent;
}

div.cntWrap div.cnt01 article .image.i1 {
  background-image: url("../image/cnt01_pic01.png");
}

div.cntWrap div.cnt01 article .image.i2 {
  background-image: url("../image/cnt01_pic02.png");
}

div.cntWrap div.cnt01 article .image.i3 {
  background-image: url("../image/cnt01_pic03.png");
}

div.cntWrap div.cnt01 article .image.i4 {
  background-image: url("../image/cnt01_pic04.png");
}

div.cntWrap div.cnt01 article .texts {
  text-align: center;
}

div.cntWrap div.cnt01 article .texts h3 {
  line-height: 40px;
  font-size: 15px;
  font-weight: 600;
  color: #555;
}

div.cntWrap div.cnt01 article .texts h5 {
  line-height: 30px;
  font-size: 12px;
  font-weight: 500;
}

div.cntWrap div.cnt01 article .texts p {
  display: none;
}

div.cntWrap div.cnt02 .image {
  color: transparent;
}

div.cntWrap div.cnt02 .image .ovrGrid {
  height: 150px;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

div.cntWrap div.cnt02 .image .ovrGrid.o1 {
  background-image: url("../image/cnt02_pic01.PNG");
}

div.cntWrap div.cnt02 .image .ovrGrid.o2 {
  background-image: url("../image/cnt02_pic02.PNG");
}

div.cntWrap div.cnt02 .image .ovrGrid.o3 {
  background-image: url("../image/cnt02_pic03.PNG");
}

div.cntWrap div.cnt02 .image .ovrGrid.o4 {
  background-image: url("../image/cnt02_pic04.PNG");
}

div.cntWrap div.cnt02 .image .ovrGrid.o5 {
  background-image: url("../image/cnt02_pic05.PNG");
}

div.cntWrap div.cnt02 .image .ovrGrid.o6 {
  background-image: url("../image/cnt02_pic06.PNG");
}

div.cntWrap div.cnt02 .image .ovrGrid.o7 {
  background-image: url("../image/cnt02_pic07.PNG");
}

div.cntWrap div.cnt02 .image .ovrGrid.o8 {
  background-image: url("../image/cnt02_pic08.PNG");
}

div.cntWrap div.cnt02 .texts h3 {
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

div.cntWrap div.cnt02 .texts p {
  font-size: 12px;
  color: steelblue;
  text-transform: capitalize;
  text-align: center;
}

div.cntWrap div.cnt02 .texts .txt {
  height: 40px;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.cntWrap div.cnt02 .texts .txt p {
  line-height: 20px;
  font-size: 12px;
  color: #000;
  text-align: left;
}

div.cntWrap div.cnt03 section {
  margin-top: 0;
  overflow: hidden;
}

div.cntWrap div.cnt03 section .artGroup {
  width: 1200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -100%;
}

div.cntWrap div.cnt03 section .artGroup article {
  width: calc(100% / 12);
}

div.cntWrap div.cnt03 section .artGroup article .image {
  width: 100%;
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

div.cntWrap div.cnt03 section .artGroup article .image.i1 {
  background-image: url("../image/cnt03_pic01.png");
}

div.cntWrap div.cnt03 section .artGroup article .image.i2 {
  background-image: url("../image/cnt03_pic02.png");
}

div.cntWrap div.cnt03 section .artGroup article .image.i3 {
  background-image: url("../image/cnt03_pic03.png");
}

div.cntWrap div.cnt03 section .artGroup article .image.i4 {
  background-image: url("../image/cnt03_pic04.png");
}

div.cntWrap div.cnt03 section .artGroup article .image.i5 {
  background-image: url("../image/cnt03_pic05.png");
}

div.cntWrap div.cnt03 section .artGroup article .image.i6 {
  background-image: url("../image/cnt03_pic06.png");
}

div.cntWrap div.cnt03 section .artGroup article .image.i7 {
  background-image: url("../image/cnt03_pic07.png");
}

div.cntWrap div.cnt03 section .artGroup article .image.i8 {
  background-image: url("../image/cnt03_pic08.png");
}

div.cntWrap div.cnt03 section .artGroup article .image.i9 {
  background-image: url("../image/cnt03_pic09.png");
}

div.cntWrap div.cnt03 section .artGroup article .image.i10 {
  background-image: url("../image/cnt03_pic010.png");
}

div.cntWrap div.cnt03 section .artGroup article:nth-of-type(2) .image {
  -webkit-animation: topTo 10s linear;
          animation: topTo 10s linear;
}

div.cntWrap div.cnt03 section .btns {
  display: none;
}

div.ftrWrap {
  margin-top: 8vw;
  background-color: #fc0;
  padding: 4vw 0;
}

div.ftrWrap footer {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

div.ftrWrap footer h3 {
  line-height: 40px;
  text-transform: capitalize;
  font-weight: 700;
}

div.ftrWrap footer h5 {
  line-height: 30px;
  font-weight: 700;
  font-size: 12px;
}

div.ftrWrap footer p {
  text-align: left;
  line-height: 20px;
  font-size: 12px;
}

div.ftrWrap footer .sns {
  margin-top: 10px;
}

div.ftrWrap footer .sns i {
  position: relative;
}

div.ftrWrap footer .sns i a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  text-shadow: 0 0 0 transparent;
}
/*# sourceMappingURL=index_mob.css.map */